#app {
    background-color: #e0e8ff;
}

.btn-primary {
    background-color: #3829e0;
    border-radius: 10px;
    border: 0;
}

.btn-link {
    color: #3829e0;
}

.super-rounded {
    border-radius: 25px;
}

.card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
